body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-image: url('images/BEER.jpg');
    background-size: cover;       /* Cover the entire container, maintaining aspect ratio */
    background-position: center bottom;  /* Display more of the bottom part of the image */
    color: white;
    padding: 120px 50px;
    height: 400px
}

h1 {
    font-size: 4em; /* Adjust font size as needed */
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
}

.horizontal-bar {
    border: 1px solid white;
    width: 50%;
    margin: 10px auto;
}

.subtitle {
    font-size: 1.2em;
}

.introduction {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    color: black;
    padding: 0 20px; 
}

p {
    font-size: 1.1em; /* Adjust font size as needed */
    line-height: 1.6; /* Adjust line height as needed */
}
